<!--<div class="auth-container">-->
<!--  <h1>Sign in</h1>-->
<!--  <form>-->
<!--    <input-->
<!--      id="email"-->
<!--      name="email"-->
<!--      type="email"-->
<!--    />-->
<!--    <input-->
<!--      id='password'-->
<!--      type='password'-->
<!--    />-->
<!--    <input type="checkbox" id='rememberMe'/>-->
<!--    Remember me-->

<!--    <div class='forgotMe'>-->
<!--      <a>Forgot Password?</a>-->
<!--    </div>-->
<!--    <div class='auth-button-wrapper'>-->
<!--      <button class="button"  type='submit'>Sign-->
<!--        in-->
<!--      </button>-->
<!--    </div>-->
<!--  </form>-->
<div class="auth-container">
  <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()" class="form">
    <h2>Вход в аккаунт</h2>
    <!-- Email -->
    <div class="authBlock">
      <label>
        <input
          type="text"
          formControlName="email"
          placeholder="Введите email"
          required
          [ngClass]="{
          inputError: email!.invalid && (email!.dirty || email!.touched),
          inputSuccess: email!.valid
        }"
        />
        <div *ngIf="email!.invalid && (email!.dirty || email!.touched)" class="error">
          <div *ngIf="email!.errors?.['required']">Email is required</div>
          <div *ngIf="email!.errors?.['pattern']">Email incorrect pattern</div>
        </div>
      </label>

      <!-- Password -->
      <label>
        <input
          type="password"
          formControlName="password"
          placeholder="Введите password"
          required
          [ngClass]="{
          inputError: password!.invalid && (password!.dirty || password!.touched),
          inputSuccess: password!.valid
        }"
        />
        <div *ngIf="password!.invalid && (password!.dirty || password!.touched)" class="error">
          <div *ngIf="password!.errors?.['required']">Password is required.</div>
          <div *ngIf="password!.errors?.['minlength']">Name must be at least 3 characters long.</div>
        </div>
      </label>

    </div>
    <label> <input type="checkbox" formControlName="rememberMe" /> Запомнить </label>
    <!-- Remember me -->
        <p>Уже есть аккаунт?</p>
        <a class='underlinedLink'>Зарегистрировать</a>
    <button class="button" type="submit" [disabled]="loginForm.invalid">Войти</button>
  </form>
</div>


<!--  <div class='add-reg-block'>-->
<!--    <p>Already have an account?</p>-->
<!--    <a class='underlinedLink'>Sign Up</a>-->
<!--  </div>-->
<!--</div>-->

