.box {
  //width: 300px;
  //margin: 0 auto;
  min-height: 550px;
}
.authBlock{
  height: 120px;
  margin-bottom: 20px;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.form h2 {
  margin-top: 0;
  margin-bottom: 30px;
}
.form input {
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #252525;
  font-size: 18px;
  text-align: center;
  margin-top: 15px;
  outline: none;
}
.underlinedLink {
  display: inline-block;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  margin: 0 auto;
  text-decoration-line: underline;
  color: blue;
  cursor: pointer;
}
.forgotMe {
  margin-top: 7px;
}

.forgotMe a {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-decoration-line: underline;
  color: blue;
  cursor: pointer;
}
.error {
  color: #bd0202
}

