<div class="auth-container">
  <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()" class="form">
    <h2>Вход в аккаунт</h2>
    <!-- Email -->
    <div class="authBlock">
      <label>
        <input
          type="text"
          formControlName="email"
          placeholder="Введите email"
          required
          [ngClass]="{
          inputError: email!.invalid && (email!.dirty || email!.touched),
          inputSuccess: email!.valid
        }"
        />
        <div *ngIf="email!.invalid && (email!.dirty || email!.touched)" class="error">
          <div *ngIf="email!.errors?.['required']">Email обязателен.</div>
          <div *ngIf="email!.errors?.['pattern']">Email некоректен.</div>
        </div>
      </label>

      <!-- Password -->
      <label>
        <input
          type="password"
          formControlName="password"
          placeholder="Введите пароль"
          required
          [ngClass]="{
          inputError: password!.invalid && (password!.dirty || password!.touched),
          inputSuccess: password!.valid
        }"
        />
        <div *ngIf="password!.invalid && (password!.dirty || password!.touched)" class="error">
          <div *ngIf="password!.errors?.['required']">Пароль обязателен.</div>
          <div *ngIf="password!.errors?.['minlength']">Не менее 3 символов.</div>
        </div>
      </label>
          <div class='forgotMe'>
            <a>Забыли пароль?</a>
          </div>
    </div>
    <label> <input type="checkbox" formControlName="rememberMe" /> Запомнить </label>
    <!-- Remember me -->
        <p>Уже есть аккаунт?</p>
        <a class='underlinedLink'>Зарегистрировать</a>
    <button class="button" type="submit" [disabled]="loginForm.invalid">Войти</button>
  </form>
</div>


