
<header class="mainHeader">
  <div class="layers">
    <div class="layersHeader">
      <div class="layersCaption">Карты для припоминания</div>
      <div class="layersTitle">Мнемоклад</div>
    </div>
    <a class="scrollToDown" (click)="scrollToElement(myArtical)" >Начать обучение</a>

    <div class="layersBase"></div>
    <div class="layersMiddle"></div>
    <div class="layersFront"></div>
  </div>
</header>
<article class="mainArticle" #myArtical>
  <div class="mainArticleContent">
    <h2 class="mainArticleHeader">Учебный проект на Angular</h2>
    <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto quo, vel! Eum, fuga
      hic mollitia odio
      officiis possimus quam! Aliquid beatae cum deleniti enim esse fugiat incidunt inventore necessitatibus
      reprehenderit voluptates. Ducimus.
    </p>
    <button class="button" (click)="openModal('custom-modal-1')">Войти</button>
  </div>
  <div class="copy">© Angor78</div>
</article>
<div class="modal">
  <jw-modal id="custom-modal-1">
    <app-login></app-login>
  </jw-modal>
</div>

