<header class="mainHeader">
  <div>Login</div>
  <div class="layers">
    <div class="layersHeader">
      <div class="layersCaption">Cards for learn</div>
      <div class="layersTitle">Magic memory</div>
    </div>
    <div class="layersBase"></div>
    <div class="layersMiddle"></div>
    <div class="layersFront"></div>
  </div>
</header>
<article class="mainArticle">
  <div class="mainArticleContent">
    <h2 class="mainArticleHeader">Для своих проектов</h2>
    <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto quo, vel! Eum, fuga
      hic mollitia odio
      officiis possimus quam! Aliquid beatae cum deleniti enim esse fugiat incidunt inventore necessitatibus
      reprehenderit voluptates. Ducimus.
    </p>
  </div>
  <div class="copy">© Angor78</div>
</article>
