<header class="mainHeader">
  <div class="layers">
    <div class="layersHeader">
      <div class="layersCaption">Карты для припоминания</div>
      <div class="layersTitle">Мнемоклад</div>
    </div>
    <a class="scrollToDown" (click)="scrollToElement(myArtical)">Начать обучение</a>
    <div class="layersBase"></div>
    <div class="layersMiddle"></div>
    <div class="layersFront"></div>
  </div>
</header>

<article class="mainArticle" #myArtical>

    <magic-notify></magic-notify>

  <div *ngIf="isLoading$">
    <magic-preloader></magic-preloader>
  </div>
  <div *ngIf="isAuth$">
    <magic-dropdown-menu></magic-dropdown-menu>
  </div>
  <div class="mainArticleContent" *ngIf="!isAuth$">
    <h2 class="mainArticleHeader">Учебный проект на Angular</h2>
    <p class="paragraph"> Соединение нескольких учебных проектов написанных на React framework в один на Angular.
      За основу взят учебный проект карточек для припоминания написаный в режиме коллективной разработки в IT-incubator.
      Внешний вид заимствован у WebDesignMaster.
    </p>
    <button class="button" (click)="openModal('login')">Войти</button>
  </div>
  <div class="copy">© Angor78</div>
</article>

<div class="modal">
  <jw-modal id="login">
      <magic-login></magic-login>
  </jw-modal>
  <jw-modal id="profile">
      <magic-profile></magic-profile>
  </jw-modal>
</div>


